<h1>Ejercicio</h1>

<form>
  <div class="container col-lg-6">
    <label for="name">Nombre y apellido: </label>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" id="name" 
            placeholder="Ingrese su nombre y apellido">

    <label for="age">Edad: </label>
    <input type="text" class="form-control" name="edad" [(ngModel)]="edad" id="age"
            placeholder="Ingrese su edad">

    <label for="profesion">Cargo: </label>
    <input type="text" class="form-control"  name="cargo" [(ngModel)]="cargo" id="profesion"
            placeholder="Ingrese su cargo">

  </div>
  <br>
  <p class="container" >Me llamo<b> {{nombre}} </b>, tengo <b>{{edad}}</b> años y soy <strong>{{cargo}}</strong>.</p>
</form>



